<p>contactus works!</p>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Contact-Us</title>
 <meta name="description" content="An interactive getting started guide for Brackets.">
  <meta name="description" content="An interactive getting started guide for Brackets.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="contactus.component.scss">
   <!--     <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet' type='text/css' media='all' />
        <link href="lib/animate/animate.min.css" rel="stylesheet">
        <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
        <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="contact-us.css"> <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css' rel='stylesheet' type='text/css' media='all' />
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="contact-us.css" -->
    <script src="contactus.component.ts"></script>

</head>

<body>
    <!---------------------Navbar starts----------------->
      <div class="row" style="margin-bottom: 50px;">                
        <header class="" id="navbar">
                <img src="logo1.png" class="img-fluid logo">
                <a href="#" id="symbol">IEEE VESIT</a>
                <nav>
                    <ul>
                        <li><a href="#" class="active">HOME</a></li>
                        <li><a href="#">EVENTS</a></li>
                        <li><a href="#">OUR COUNCIL</a></li>
                        <li><a href="#">IEEE TV</a></li>
                        <li><a href="#">SPONSORS</a></li>
                        <li><a href="#" >CONTACT US</a></li>
                    </ul>
               </nav>   
            
            <div class="menu-toggle">
                <i class="fa fa-bars icon" aria-hidden="true"></i>
                </div> 
        </header>
      </div>
        <!-------------------Navbar ends---------------->

    <div class="container-contact100">
        <div class="contact100-map" id="google_map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15085.631721665712!2d72.8892135!3d19.045794!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb7ad04bf9a389df7!2sVivekanand%20Education%20Society&#39;s%20Institute%20Of%20Technology!5e0!3m2!1sen!2sin!4v1584372183733!5m2!1sen!2sin"
                width=100% height=761vw style="border:0;" ; allowfullscreen>
		</iframe>
        </div>


        <div class="wrap-contact100" ;>
            <div class="contact100-form-title">
                <span class="contact100-form-title-1">
                    <i class="fa fa-envelope" aria-hidden="true"></i>

		</span>

            </div>

            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSedVlP-QAL_2cvUJNJNMzuI65kWs2w1l55wC3FBwge0ThpXJA/viewform?embedded=true" width="640" height="545" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>

           <!---------------------Footer starts-------------->
        <div class="row">
            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
    
    
                            <div class=" col-md-2 col-md-offset-1 col-xs-12 footer-logo">
                                <img src="footer_logo.png" alt="IEEE LOGO">
    
                            </div>
    
                            <div class=" col-md-2 col-md-offset-2 col-xs-12 footer-links">
                                <h4>Useful Links</h4>
                                <ul>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="home.html">Home</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="events.html">Events</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="our_council.html">Our Council</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="ieee_tv.html">IEEE TV</a></li>
                                    <li><i class="ion-ios-arrow-right"></i> <a href="sponsors.html">Sponsors</a>
                                        <li><i class="ion-ios-arrow-right"></i> <a href="contact_us.html">Contact Us</a></li>
                                </ul>
                            </div>
    
                            <div class="col-md-4 col-md-offset-1 col-xs-12  footer-contact">
                                <h4>Contact Us</h4>
                                <p>
                                    Vivekanand Education Society's Institute of Technology,<br>Hashu Adwani Memorial Complex,<br> Collector's Colony<br> Chembur, Mumbai - 400074.<br>
                                    <strong>Phone: </strong>022-61532532 <br>
                                    <strong>Email: </strong>ieee.vesit@ves.ac.in <br>
                                </p>
    
                                <div class="social-links">
                                    <h4>Follow Us</h4>
                                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
    
                                </div>
    
                            </div>
    
                        </div>
                    </div>
                </div>
    
                <div class="container">
                    <div class="copyright">
                        &copy; 2019-20 Copyright: IEEE-VESIT
                    </div>
                </div>
            </footer>
        </div>
     <!--------------------------Footer ends-------------------->
</body>

</html>